
  <p id="blockTitle">Contact</p>
  <a class=" decoration-none" target="_blank" href="mailto:adtytiw@gmail.com"
    >Gmail</a
  >
  <a class=" decoration-none" target="_blank" href="https://github.com/notstoicc"
    >Github</a
  >
  <a class=" decoration-none" target="_blank" href="https://www.instagram.com/freakyadi?igsh=MW1tdnU0ZGtpang5NQ=="
    >Insta</a
  >

<style>
a{
    @apply linkBase max-w-max
  }
</style>
